/* ANIMATIONS FOR SMOL GHOSTS and other things too */
@keyframes winterghost {
  0% { left: -200px; opacity: 0.01; bottom: 333px; }
  10% { left: -200px; }
  33% { left: 23%; opacity: 0.33; }
  45% { left: 15%; opacity: 0.77; }
  55% { left: 40%; opacity: 0.99; }
  80% { bottom: 333px; }
  85% { bottom: 333px; }
  90% { bottom: 366px; }
  100% { left: 110%; opacity: 0.33; }
}        
@keyframes wintersnowball {
  0% {
    transform: rotate(0deg) scale(0.77);
    left: -150px;
    opacity: 0.33;
  }
  33% { transform: rotate(540deg) scale(1); left: 37%; }
  50% { transform: rotate(540deg) scale(1); left: 37%; }
  100% {
    transform: rotate(3600deg) scale(1.33);
    left: 150%;
    opacity: 0.99;
  }
}
@keyframes snowfall {
  50% { transform: translate(var(--mid-x), var(--mid-y)); }
  100% { transform: translate(var(--end-x), 100vh); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes wordfall {

  50% { transform: translate(var(--mid-x), var(--mid-y)); }
  100% { transform: translate(var(--end-x), 100vh); }
}
@keyframes spookynzo {
  0% { top: 0%; left: -200px; opacity: 0.01; }
  20% { top: 100% }
  30% { opacity: 0.37; }
  50% { top: 0% }
  70% { opacity: 0.1; }
  80% { top: 100% }
  100% { top: 0%; left: 110%; opacity: 0.5; }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1)
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1)
    }
}
