@layer tokens {
    @keyframes spin {
        to {
            transform: rotate(360deg)
        }
    }
    @keyframes ping {
        75%, 100% {
            transform: scale(2);
            opacity: 0
        }
    }
    @keyframes pulse {
        50% {
            opacity: .5
        }
    }
    @keyframes bounce {
        0%, 100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1)
        }
    }
    @keyframes ghosty {
        0% {
            left: -200px;
            top: 0%;
            opacity: 0.01
        }
        15% {
            opacity: 0.50
        }
        20% {
            top: 33%
        }
        40% {
            opacity: 0.1
        }
        55% {
            top: 100%;
            opacity: 0.8
        }
        80% {
            opacity: 0.50
        }
        90% {
            top: 0%
        }
        100% {
            left: 110%
        }
    }
    @keyframes smoothGhost {
        0% {
            left: -100px;
            top: 0
        }
        15% {
            top: 100px
        }
        22% {
            top: 0px
        }
        37% {
            top: 75px
        }
        42% {
            top: -10px
        }
        69% {
            top: 86px
        }
        77% {
            top: 11px
        }
        86% {
            top: 100px
        }
        100% {
            left: 100%;
            top: 0
        }
    }
    @keyframes smoWiFaGho {
        0% {
            left: -100px;
            top: 0;
            opacity: 0.01
        }
        10% {
            opacity: 0.10
        }
        15% {
            top: 100px
        }
        20% {
            opacity: 0.40
        }
        22% {
            top: 0px
        }
        30% {
            opacity: 0.50
        }
        37% {
            top: 75px
        }
        40% {
            opacity: 0.80
        }
        42% {
            top: -10px
        }
        50% {
            opacity: 0.99
        }
        60% {
            opacity: 0.99
        }
        69% {
            top: 86px
        }
        70% {
            opacity: 0.75
        }
        77% {
            top: 11px
        }
        80% {
            opacity: 0.33
        }
        86% {
            top: 100px
        }
        90% {
            opacity: 0.25
        }
        100% {
            left: 100%;
            top: 0;
            opacity: 0.01
        }
    }
}