---
import Layout from '../layouts/Layout.astro';
import Left from '../components/Left.astro'
import Right from '../components/Right.astro'
import TumblrCard from '../components/TumblrCard.astro'
import Tags from '../components/Tags.astro'
import { tumblrDataGetter } from '../stores/'
// import { ApiData } from '../stores/types.ts'
// import data from '../demodata-tumblr.json'



const data = await tumblrDataGetter()

// <script define:vars={{data}}>console.log(data)</script>
---
<Layout title="Newberry Collection Stories">
  <Left>
  <h1 slot="title" >
      The Newberry's Collection Stories
    </h1>
    <div class="left-text" slot="left-text" >
      <Tags tags={data.tags} />
    </div>
  </Left>
	<Right>
    { data.posts.map((d, i: number) => <TumblrCard data={d} idx={i} />) }
	</Right>
</Layout>

<script is:inline>
document.documentElement.classList.remove("winter");
document.documentElement.classList.remove("halloween");
</script>

<style>
</style>
