---
export const prerender = true
import Layout from '../layouts/Layout.astro';
import Left from '../components/Left.astro'
import Right from '../components/Right.astro'
import TumblrCard from '../components/TumblrCard.astro'
// tag page files are moved to out-of-project folder
// import Tags from '../components/Tags.astro'
import { tumblrDataGetter } from '../stores/'
// import { ApiData } from '../stores/types.ts'
// import data from '../demodata-tumblr.json'



const data = await tumblrDataGetter()

---
<script define:vars={{data}}>console.log(data)</script>
<Layout title="Newberry Collection Stories">
  <Left>
    <h1 slot="title" >
      Newberry Collection Stories
    </h1>
    <p>
      Learn more about digitized manuscripts, maps, books, photographs, video, artwork, and other rare and unique materials from <a href="https://collections.newberry.org/" target="_blank" class="llines" >Newberry Digital Collections</a>.
    </p>
  </Left>
	<Right>
	  <!-- <div slot="outside-card-flow"> -->
   <!--    <Tags tags={data.tags} /> -->
	  <!-- </div> -->
    { data.posts.map((d, i: number) => <TumblrCard data={d} idx={i} />) }
	</Right>
</Layout>

<script is:inline>
  document.documentElement.classList.remove("winter");
  document.documentElement.classList.remove("halloween");
</script>

<style>
</style>
