---
interface Props {
      holiday: string;
}
const { holiday } = Astro.props
---

<div class={`${holiday} ghost`} id="ghost" >
      <div class="nzo"><img src='/ghostyboy.webp' alt=""></div>
      {holiday === 'winter' && <div class="ball"><img src="/ghostyball.webp" alt=""></div>}
</div>

{ holiday === 'winter' && <button id="snowflake-button"><img src="/snow/snowflake-3.webp" alt="" /></button> }

<script define:vars={{holiday}}>
if (holiday === 'winter'){
      document.getElementById('snowflake-button').addEventListener('click', () => {
            document.getElementById('ghost').classList.toggle('show');
            document.getElementById('snowflake-button').classList.toggle('nzo-active');
            setTimeout(() => {
                  document.getElementById('snowflake-button').classList.toggle('nzo-active');
                  document.getElementById('ghost').classList.toggle('show');
            }, 10000);
      });
}
</script>

<style>
.ghost {
      pointer-events: none;
      height: 200px;
      right: 0;
      left: 0;
      position: fixed;
}
.winter.ghost:not(.show){
      display: none;
}
.winter {
      bottom: 33px;
}
.halloween {
      top: 200px;
}
.nzo, .ball img {
      transform: translateZ(0);
}
.nzo, .ball {
      position: relative;
}
.halloween .nzo {
      animation: spookynzo 10s ease infinite;
}
.winter .nzo {
      animation: winterghost 10s ease-in-out infinite;
}
.winter .ball {
      position: relative;
      bottom: 483px;

}
.winter .ball img {
      position: relative;
      animation: wintersnowball 10s ease-out infinite;
}
.show {
      display: block !important;
}
#snowflake-button {
      opacity: 0.77;
      pointer-events: all;
      position: fixed;
      bottom: 3px;
      right: 3px;
      filter: invert(0);
      background: transparent;
      border: 0;
      transition:  400ms;
}
#snowflake-button:hover {
      filter: invert(1);
}
#snowflake-button.nzo-active {
      transition: 400ms;
      filter: invert(0.77);
}
</style>
