---
import Background from './Background.astro'
import Arrow from './Arrow.astro'
import SourceButton from '../components/SourceButton.astro'
import { sourceButtonData } from '../stores/'
import type {  Holiday } from '../stores/types'
interface Props {
  holiday?: Holiday;
}
const { holiday } = Astro.props;
---

<div class={`right ${holiday ?? ""}`}>
{ holiday && <Background holiday={holiday} /> }
  <slot name="outside-card-flow" />
  <div class="right-liner">
    { holiday && <> <SourceButton data={sourceButtonData[holiday]} /> <Arrow /> </> }
    <div class="card-wrapper" >
      <slot />
    </div>
  </div>
</div>

<style>
.right {
  background: rgb(var(--bg-color-2));
  position: relative;
  flex: 3;
  padding: 0;
  overflow: visible;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  /* height: auto; */
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 20px;
  padding: 0 20px 77vh 20px;
}
/* .right:not(.halloween, .winter) .card-wrapper { */
/*   padding-top: 7vh; */
/* } */
</style>
