/**
* PandaCSS CSS layers
* View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
*/
@layer reset, base, tokens, recipes, utilities;

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*,
html {
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}
body {
  padding: 0;
  line-height: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  --flame: 241, 97, 81;
  --park-green: 32, 84, 62;
  --tile: 146, 88, 64;
  --sapphire: 64, 81, 163;
  --lake: 126, 196, 226;
  --mulberry: 173, 43, 90;
  --lavender: 205, 184, 209;
  --midnight: 17, 26, 42;
  --granite: 234, 235, 231;
  --sand: 234, 220, 201;
  --angle: 70deg;
  --dist: 66%;
}

/*  dm on */
:root {
  --splash-color: var(--sapphire);
  --bg-color-1: var(--granite);
  --bg-color-2: var(--lavender);
  --fg-color-1: var(--midnight);
  --fg-color-2: var(--mulberry);
}

.halloween {
  --splash-color: var(--flame);
  --fg-color-1: var(--granite);
  --fg-color-2: var(--mulberry);
  --bg-color-1: var(--midnight);
  --bg-color-2: var(--flame);
  --bg-1: linear-gradient(
    60deg,
    rgb(var(--bg-color-1)) 0vw,
    40vw,
    rgb(var(--bg-color-2)) 40vw 100vw
  );
  --bg-2: linear-gradient(
    60deg,
    rgb(var(--bg-color-2)) 0vw,
    40vw,
    rgb(var(--bg-color-1)) 40vw 100vw
  );
  color: rgb(var(--fg-color-1));
}
.winter {
  --splash-color: var(--lake);
  --fg-color-1: var(--granite);
  --fg-color-2: var(--lake);
  --bg-color-1: var(--midnight);
  --bg-color-2: var(--granite);
  --bg-1: linear-gradient(
    60deg,
    rgb(var(--bg-color-1)) 0vw,
    40vw,
    rgb(var(--bg-color-2)) 40vw 100vw
  );
  --bg-2: linear-gradient(
    60deg,
    rgb(var(--bg-color-2)) 0vw,
    40vw,
    rgb(var(--bg-color-1)) 40vw 100vw
  );
  color: rgb(var(--fg-color-1));
}
@font-face {
  font-family: "flecha";
  src: url("/fonts/FlechaM-Regular.woff");
}
@font-face {
  font-family: "flecha";
  src: url("/fonts/FlechaM-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "flecha";
  src: url("/fonts/FlechaM-Black.woff");
  font-weight: 900;
}
@font-face {
  font-family: "styrene";
  src: url("/fonts/StyreneB-Regular-Web.woff");
}
@font-face {
  font-family: "styrene-bold";
  src: url("/fonts/StyreneB-Bold-Web.woff");
}
@font-face {
  font-family: "signifier";
  src: url("/fonts/signifier-regular.woff2");
}
@font-face {
  font-family: "signifier-bold";
  src: url("/fonts/signifier-bold.woff2");
}

h1,
h2 {
  font-family: "flecha";
}
h1 {
  color: rgb(var(--splash-color));
}
h3,
h4,
h5,
h6,
dt {
  font-family: "styrene";
  color: rgb(var(--brand));
}

body,
html {
  font-family: "signifier";
  color: rgb(var(--fg-color-1));
}

b {
  font-family: "styrene-bold";
  color: rgb(var(--fg-color-2));
}

.llines {
  color: inherit !important;
  font-weight: 700;
  line-height: 1rem;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(var(--fg-color-1), 0.3),
      rgba(var(--fg-color-1), 0.3)
    ),
    linear-gradient(
      to right,
      rgba(var(--fg-color-1), 1),
      rgba(var(--fg-color-1), 1)
    );
  background-size:
    100% 0.1rem,
    0 0.1rem;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.llines:hover,
.llines:focus {
  background-size:
    0 0.1rem,
    100% 0.1rem;
}
body * {
  box-sizing: border-box;
}
.halloween {
  overflow: visible !important;
}
/* ELEVATIONS */

/* .background .scary { */
.scary {
  z-index: 0;
}
.tint {
  /* orange tint */
  z-index: 10;
}
.spooky {
  z-index: 20;
}
.left {
  z-index: 30;
}
.ghost {
  z-index: 40;
}
/* .ghost img { */
/*     z-index: 40; */
/* } */
.card {
  z-index: 50;
}
.arrow-wrapper {
  z-index: 60;
}
.nzo {
  z-index: 60;
}
.nzo {
  position: fixed;
  right: 0;
  bottom: 0;
  background: transparent;
  border: 0;
  transition: 200ms;
}
.nzo:hover {
  filter: invert(1);
  /* filter: hue-rotate(90deg); */
}
.nzo.nzo-active {
  transition: 400ms;
  /* filter: hue-rotate(90deg); */
  filter: invert(0.5);
  /* animation: spin 1s linear infinite; */
}

.bg-citation {
  transition: 200ms;
  opacity: 0.5;
  position: fixed;
  width: 200px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  font-size: 0.77rem;
  color: rgba(var(--midnight), 1);
  background: rgb(var(--granite));
  border: 1px solid rgb(var(--midnight));
}
.bg-citation:hover {
  opacity: 1;
}
.bg-citation span {
  font-size: 1px;
  opacity: 0;
}
.bg-citation:hover span {
  opacity: 1;
  font-size: inherit;
}
.rev-llines {
  color: inherit !important;
  font-weight: 700;
  line-height: 1rem;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(var(--bg-color-1), 0.3),
      rgba(var(--bg-color-1), 0.3)
    ),
    linear-gradient(
      to right,
      rgba(var(--bg-color-1), 1),
      rgba(var(--bg-color-1), 1)
    );
  background-size:
    100% 0.1rem,
    0 0.1rem;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.rev-llines:hover,
.rev-llines:focus {
  background-size:
    0 0.1rem,
    100% 0.1rem;
}
